.App {
  text-align: center;
}

.block {
  border: solid 2px red;
  height: 100vh;
}

.Select {
  margin: 5px;
}

.MatchupForm input {
  margin-left: 5px;
  margin-right: 5px;
}

.SummonerForm, .MatchupForm {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SummonerForm-enter {
  opacity: 0.01;
}

.SummonerForm-enter.SummonerForm-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.SummonerForm-leave {
  opacity: 1;
}

.SummonerForm-leave.SummonerForm-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.MatchupForm-enter {
  opacity: 0.01;
}

.MatchupForm-enter.MatchupForm-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.MatchupForm-leave {
  opacity: 1;
}

.MatchupForm-leave.MatchupForm-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
